:root {
    --white: rgb(252, 252, 252);
    --background: rgb(40, 39, 42);
    --grey-clear: rgb(115, 114, 116);
    --grey-dark: rgb(127, 127, 129);
    --grey-translucid: rgba(100, 100, 100, 0.7);
    --blue: rgb(26, 138, 243);

    --card: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.5)), url('tu_foto.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* .hero-text {
    background: linear-gradient(to top, rgba(255, 255, 255, 1.2), rgba(255, 255, 255, 0));
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
} */

.container {
    width: 80%;
    height: 90%;
    margin-left: 20px;
    margin-right: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    /*background-color: red;*/
}

.nav-bar {
    display: flex;
    justify-content: end;
    width: 100%;
}


.nav-bar img {
    width: 30px;
}


.menu-brg {
    margin: 10% 3%;
    border-radius: 50%;
    background-color: var(--grey-translucid);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 70px;
}

.menu-chat {
    margin: 10% 7%;
    border-radius: 50%;
    background-color: var(--grey-translucid);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 70px;

}

.card-name {
    display: grid;
    height: 20vh;
    bottom: -300px;
    position: relative;
    margin-left: -10px;
}

.headding-1 {
    color: var(--white);
    width: 150px;
    height: 50px;
    align-self: end;
    margin-bottom: 30px;
}

.heading-2 {
    color: var(--white);
    height: 20px;
    font-size: 18px;
}

.heading-3 {
    color: var(--white);
    height: 18px;
    font-size: 16px;
}

.heading-4 {
    color: var(--white);
    font-size: 14px;
    margin: 0;
}

.contact {
    width: 89%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: -15px 20px 0 20px;
    padding-left: 5px;
    position: absolute;
    background-color: var(--background);
}

.contact a {
    width: 80px;
    height: 22px;
    border: none;
    color: var(--grey-dark);
    font-size: 16px;
    text-decoration: none;
    border-radius: 25px;
    margin: 13px 10px 0 0;
    padding: 3px 10px 0px 10px;
}

.contact a:hover {
    background-color: var(--grey-clear);
    color: var(--white);
}

/*About*/
.work-resume {
    background-color: var(--background);
    margin-top: 43px;
    height: 600px;
    height: 50%;
}

.about h3 {
    color: var(--white);
}

.about p {
    color: var(--grey-dark);
}

.about-show-more {
    border: none;
    background: none;
    color: var(--blue);
}

#more-text {
    display: none;
}

/*Work Cards*/

.work-card {
    display: flex;
    height: 50px;
    margin-bottom: 15px;
}

.work-logo img {
    width: 50px;
    margin: 5px 10px 5px 0px;
    border-radius: 10%;
}

.work-content {
    width: 50%;
    display: block;
    max-height: 25%;
}

.work-title {
    margin-top: 10px;
}

.work-date {
    font-size: 12px;
    color: var(--grey-dark);
}

.work-details {
    display: none;
}

.work-modal-btn {
    color: var(--blue);
    border: none;
    background: none;
    height: 40px;
    cursor: pointer;
    font-size: 12px;
    align-content: end;
    margin-left: 10px;
    margin-top: 10px;
}

/*MODAL*/
.work-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.work-modal-content {
    background-image: var(--card);
    background-color: var(--background);
    margin: 50% auto;
    padding: 20px;
    border: 1px solid --white;
    border-radius: 25px;
    width: 80%;
}

.close {
    color: var(--blue);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--background);
    text-decoration: none;
    cursor: pointer;
}

/*Lenguages*/

.lenguage-card {
    background-color: var(--background);
    /*padding: 10px 20px;*/
    /*border-radius: 20px;*/
    margin-top: 10px;
    height: 90px;
    width: 70px;
    display: inline-grid;
    justify-content: center;
}

.lenguage-card:nth-child(2),
.lenguage-card:nth-child(3) {
    margin-left: 5px;
}


.lenguage-flag img {
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.lenguage-text {
    color: var(--white);
}

.api-call-test {
    color: #E3FDF5;
}